.filter-form {
  position: relative;
  width: 100%;
  max-width: 900px;
  border: 1px solid var(--main-color);
  padding: 5px;
  border-radius: 4px;
  margin-top: -16px;
  margin-bottom: 15px;
  overflow: hidden;
}
.filter-form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  border: 0 none;
}

.filter-form-input_query {
  display: flex;
  width: 100%;
  min-height: 24px;
  border: none;
  border-bottom: 1px dashed var(--main-color);
  background: transparent;
  color: var(--main-color);
  padding: 1px 3px;
  font-size: 1.2rem;
  margin-bottom: 3px;
}